.review {
  width: 400px;
  background: var(--light);
  padding: 20px;
  text-align: left;
  height: 380px;
}

.review-rating {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  width: 100px;
  margin-bottom: 5px;
}

.review-rating i {
  width: 0;
}

.reviewCard {
  margin: 0 auto;
  background: var(--light);
  padding: 20px;
  text-align: left;
  font-size: 1rem;
  border-radius: 3px;
}

.review-card {
  background: var(--light);
  padding: 5px;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 10px;
  border-bottom: 0.0125rem solid var(--gray-dark);
}

.review-card:hover {
  background: var(--white);
}

.review-card div:nth-child(1) {
  color: var(--gray-dark);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-card div:nth-child(3) {
  color: blue;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  color: gray;
  line-height: 1.2;
}

label {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.reviewInput {
  display: grid;
  grid-gap: 5px;
}

.review-select {
  grid-gap: 5px;
}

input {
  font-size: 1rem;
  outline: none;
  height: 45px;
  /* width: 100%; */
  width: 50%;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #221924;
  padding: 0.95em;
  margin-bottom: 10px;
  text-transform: capitalize;
}

select {
  border-radius: 0;
  height: 35px;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid #dedede;
}

.rating {
  margin-left: 20px;
}

textarea {
  width: 100%;
  font-size: 1rem;
  height: 120px;
  resize: none;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #dedede;
}

button {
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--light);
  background: var(--dark);
  border: none;
  border-radius: 3px;
  font-family: var(--font-family-monospace);
  justify-self: center;
}

button>span {
  display: flex;
}

.material-icons {
  font-size: 1.5rem;
  color: var(--light);
}

.layout {
  margin: 0px auto 10px auto;
  border: 2px solid var(--dark);
  padding: 10px;
  width: 400px;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .container {
    /* background: red; */
  }
  .layout {
    width: 96%;
    margin: 0px auto 10px auto;
  }
}

@media (min-width: 768px) {
  .container {
    /* background: blue; */
  }
  .layout {
    width: 400px;
    margin: 0px auto 10px auto;
  }
}

@media (min-width: 992px) {
  .container {
    /* background: purple; */
  }
  .layout {
    width: 400px;
    margin: 0px auto 10px auto;
  }
}

@media (min-width: 1200px) {
  .container {
    /* background: green; */
    max-width: 1140px;
    margin: 0 auto;
  }
  .layout {
    width: 400px;
    margin: 0px auto 10px auto;
  }
}

.dark {
  background: var(--dark);
  color: var(--white);
}

.light {
  background: var(--light);
}

input[type='checkbox'] {
  border: 2px soild red;
}

li {
  list-style: none;
  width: 50%;
  padding: 10px 2px;
  background: var(--gray);
  color: var(--light);
}

ul:nth-last-child() {
  background: yellow;
}